@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 0.5rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 1.25rem;
  background-color: #4e6fc5;
}

.quiz-time-img {
  width: min(50rem, 100%);
}

.start-now {
  background-color: #35bd3a;
  width: min(25rem, min-content);
  padding: 1.875rem 3.75rem;
  font-size: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0.625rem 0.5rem 0 #01ab0855;
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 0.25rem;
  outline: none;
  margin-bottom: 10rem;
}

.start-now span {
  transform: translateX(0rem);
  transition: all 0.3s ease-in-out;
  margin-top: 0.125rem;
  letter-spacing: -0.625rem;
}

.highest-score-text {
  font-size: 1.5rem;
  color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0.3);
  padding: 5rem;
  background-color: rgb(78, 111, 197, 0.2);
  border-radius: 0.5rem;
}

@media (width <= 42.5rem) {
  .start-now {
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
    box-shadow: 0.25rem 0.25rem 0 #01ab0855;
  }

  .start-now span {
    transform: translateX(0rem);
    transition: all 0.3s ease-in-out;
    margin-top: 0.125rem;
    letter-spacing: -0.5rem;
  }

  .highest-score-text {
    font-size: 1rem;
    padding: 1.25rem;
  }
}

.bg-video {
  position: fixed;
  background-size: cover;
  z-index: -1;
  opacity: 5;
}
